@import '~@fluentui/react/dist/sass/References.scss';

:root {
    --button-hover-color: #F3F2F1;
    --button-hover-color-sidebar: #E1DFDD;
    --sidebar-bg-color: #FAF9F8;
    --global-font-familiy: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --svg-icon-opacity: 0.7;
    --icon-color: #484644;
    --sharepoint-theme-color: #0078D4;

    --margin-default: 16px;
    --header-height: 48px;
    --button-size: 32px;
    --button-icon-size: 16px;
    --button-padding: calc((var(--button-size) - var(--button-icon-size))/2);
    --button-margin: calc(var(--margin-default) - var(--button-padding));
    --button-gap: 12px;

}

.chatBot {
    overflow: hidden;
    color: var(--bodyText);
    max-width: 800px;

    .overlay {
        top: calc(100% - 130px);
        right: 1rem;
        z-index: 9;
        position: fixed;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid gray;
        background-color: white;
    }

    .overlay:hover {
        background-color: var(--button-hover-color);
        cursor: pointer;
    }

    .sideBar {
        position: fixed;
        top: 0;
        right: 0;
        min-width: min(100vw, 15rem);
        width: 50vw;
        max-width: 25rem;
        height: 100%;
        z-index: 99;
        background-color: var(--sidebar-bg-color); 
        visibility: visible;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
        border-left: 1px solid #EDEBE9;
        overflow: auto;
        padding: 0 var(--margin-default);

    }

    .sideBarClosed {
        display: none;
    }

    .sideBarCloseButton {
        align-self: center;
    }

    .header {
        display: flex;
        justify-content: space-between;
        container-type: inline-size;
        container-name: header;
        height: var(--header-height);
        gap: var(--button-gap);

        .logoContainer {
            display: flex;
            align-items: center;
            gap: var(--button-gap);
            img {
                width: var(--button-icon-size);
                height:var(--button-icon-size);
                padding: var(--button-padding);
            }
            .logoText {
                font-size: var(--button-icon-size);
                font-weight: bold;
                @container header (max-width:350px) {
                    display: none;
                }
            }
        }
        .actionsContainer {
            display: flex;
            align-items: center;
            gap: var(--button-gap);
            
            button {
                border: none !important;
                border-radius: 4px;
                background-color: transparent;
                padding: 0;
                cursor: pointer;

                img {
                    width: var(--button-icon-size);
                    height: var(--button-icon-size);
                    padding: var(--button-padding);
                    opacity: var(--svg-icon-opacity);
                    vertical-align: middle;
                }

                // svg see below
            }
            button:hover {
                background-color: var(--button-hover-color-sidebar);
                svg {
                    color: var(--sharepoint-theme-color);
                }
            }
            
            .clearButton {
                display: flex;
                align-items: center;
                .clearText {
                    padding-left: var(--button-padding);
                    font-family: var(--global-font-familiy);    
                    @container header (max-width:250px) {
                        display: none;
                    }
                }
                img {
                    margin-top: -1px;
                }
            }
        }
    }
}


svg {
    --svg-size: calc(var(--button-icon-size) + var(--button-padding));
    width: var(--svg-size);
    height: var(--svg-size);
    vertical-align: middle;
    padding: calc(var(--button-padding) - 4px);
    color: var(--icon-color);
}